FORMAT: 1A
HOST: https://api.kucoin.com/

# Kucoin API Documentation

## General
API will be available on Sep.26,2017

All API requests are called buy the standard HTTPS. All POST calls need to specify the parameters of the format to x-www-form-urlencoded.

API server: https://api.kucoin.com
    
## Authentication

First create an API KEY in the account center. 
Each time you access the authorized protection API, you need add the following parameters to headers of request:

```json
{
    "KC-API-KEY": "59c5ecfe18497f5394ded813",  
    "KC-API-NONCE" : 1506219855000   //Client timestamp (exact to milliseconds), before using the calibration time, the server does not accept calls with a time difference of more than 3 seconds
    "KC-API-SIGNATURE" : "fd83147802c361575bbe72fef32ba90dcb364d388d05cb909c1a6e832f6ca3ac"   //signature after client encryption
}
```
### Signature Calculation 
Example for Creating an buy order of KCS-BTC :

```java 
String host = "https://api.kucoin.com";  
String endpoint = "/v1/KCS-BTC/order";  // API endpoint
String secret; //The secret assigned when the API created
     
/** 
 *  POST parameters：
 *    type: BUY
 *    amount: 10
 *    price: 1.1
 *    Arrange the parameters in ascending alphabetical order (lower cases first), then combine them with & (don't urlencode them, don't add ?, don't add extra &), e.g. amount=10&price=1.1&type=BUY    
 *    将查询参数按照字母升序(小字母在前)排列后用&进行连接(请不要进行urlencode操作,开头不要带?,首位不要有额外的&符号)得到的queryString如:  amount=10&price=1.1&type=BUY
 */
String queryString; 

//splice string for signing
String strForSign = endpoint + "/" + nonce +"/" + queryString;  

//Make a base64 encoding of the completed string
String signatureStr = Base64.getEncoder().encodeToString(strForSign.getBytes("UTF-8"));

Mac sha256_HMAC = Mac.getInstance("HmacSHA256");
SecretKeySpec secretKeySpec = new SecretKeySpec(secret.getBytes("UTF-8"), "HmacSHA256");
sha256_HMAC.init(secretKeySpec);

//KC-API-SIGNATURE in header
String signatureResult =  Hex.encodeHexString(sha256_HMAC.doFinal(signatureStr.getBytes("UTF-8")));
```

## API KEY Permissions
To be added

## Language Parameters
Put it into headers
```json
{
    "Accept-Language": "zh_CN",  
}
```

## User API Management [/1]

### Create API KEY [POST /v1/api/create]
          
+ Response 200 (application/json)

    + Body
    
            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": {
                    "remark": null,
                    "secret": "54e1a7f3-f5c0-47f2-bdce-f1d5124602e1",
                    "enabled": true,
                    "userOid": "59663b126732d50be3ac8bcb",
                    "accessKey": "59c5ecfe18497f5394ded813",
                    "createdAt": 1506143486528,
                    "updatedAt": 1506143486528,
                    "permissions": null
                }
            }

### Update API KEY [POST /v1/api/update]

+ Request

    + Attributes

        + key (required) - KEY to be update
        + enabled  - is enabled
        + remark  - 
        + permissions - 
        
+ Response 200 (application/json)

    + Body
    
            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": true
            }

### List API KEY [GET /v1/api/list]
        
+ Response 200 (application/json)

    + Body
    
            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": [
                    {
                        "remark": null,
                        "secret": "*",  //display whithen 30 minutes after created
                        "enabled": true,
                        "userOid": "59663b126732d50be3ac8bcb",
                        "accessKey": "59c5ecfe18497f5394ded813",
                        "createdAt": 1506143487000,
                        "updatedAt": 1506143487000,
                        "permissions": null
                    }
                ]
            }

### Delete API KEY [POST /v1/api/delete]

+ Request

    + Attributes

        + key (required) - 
        
+ Response 200 (application/json)

    + Body
    
            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": true
            }


## Currencies Plugin [/2]

### List exchange rate of coins(Open) [GET /v1/open/currencies]

+ Request

    + Attributes

        + coins : BTC -  supports multiple coins, split by comma

+ Response 200 (application/json)

    + Body
    
            {
               "success":true,
               "code":"OK",
               "msg":"Operation succeeded.",
               "timestamp":1508049552782,
               "data":{
                  "currencies":[
                     [
                        "USD",
                        "$"
                     ],
                     [
                        "EUR",
                        "€"
                     ],
                     [
                        "CNY",
                        "¥"
                     ],
                     [
                        "JPY",
                        "¥"
                     ],
                     [
                        "CHF",
                        "CHF"
                     ],
                     [
                        "HKD",
                        "$"
                     ],
                     [
                        "GBP",
                        "£"
                     ],
                     [
                        "RUB",
                        "₽"
                     ],
                     [
                        "AUD",
                        "$"
                     ]
                  ],
                  "rates":{
                     "BTC":{
                        "AUD":7377.67,
                        "CHF":5642.31,
                        "HKD":45111.9,
                        "JPY":648153.6,
                        "EUR":4892.29,
                        "GBP":4353.16,
                        "USD":5777.8,
                        "RUB":333263.5,
                        "CNY":38077.43
                     }
                  }
               }
            }

### Set default currency [POST /v1/user/change-currency]

+ Attributes 
    + currency - e.g.: USD,CNY,JPY
    
+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": null
            }

## Language [/3]

### List languages(Open) [GET /v1/open/lang-list]

+ Request

    + Attributes

        + username (required)
        + password (required)
          
+ Response 200 (application/json)

    + Body
    
            {
                "_comment": "last boolean params determines if language is available",
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": [
                    [ "zh_CN", "中文", true], 
                    [ "en_US", "English", false]
                ]
            }

### Change language [POST /v1/user/change-lang]

+ Request

    + Attributes

        + lang (required)
          
+ Response 200 (application/json)

    + Body
    
             {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded."
            }

## User [/7]

### Get user info [GET /v1/user/info ]

+ Response 200 (application/json)
    + Body

            {
                "data": {
                "referrer_code": "jkLmne",  
                "photoCredentialValidated": true, 
                "videoValidated": false,
                "language": "en_US", 
                "currency": "USD",
                "oid": "59663b126732d50be3ac8bcb", 
                "baseFeeRate": 1,  
                "hasCredential": true,  
                "credentialNumber": "5103**********0013", 
                "phoneValidated": true,
                "phone": "18******139",
                "credentialValidated": true,  
                "googleTwoFaBinding": true,  
                "nickname": null,
                "name": "*醇",
                "hasTradePassword": true,  
                "emailValidated": true,  
                "email": "robert2041@163.com",
                "loginRecord": {
                  "last": {
                    "ip": "171.212.112.61",
                    "context": null,
                    "time": 1509942507000
                  },
                  "current": {
                    "ip": "127.0.0.1",
                    "context": null,
                    "time": 1509942560000
                  }
                }
              }
            }

## Assets Operation [/10]

### Get coin deposit address  [GET /v1/account/{coin}/wallet/address]

+ Parameters 
    + coin(enum) - coin type. eg: KCS

+ Response 200 (application/json)
    + Body

            {
               "data": {
                "oid": "598aeb627da3355fa3e851ca",
                "address": "598aeb627da3355fa3e851ca",
                "context": null,
                "userOid": "5969ddc96732d54312eb960e",
                "coinType": "KCS",
                "createdAt": 1502276446000,
                "deletedAt": null,
                "updatedAt": 1502276446000,
                "lastReceivedAt": 1502276446000
              }
            }

### Create withdrawal apply [POST /v1/account/{coin}/withdraw/apply]

+ Parameters 
    + coin 
    
+ Attributes
    + coin 
    + amount(number) 
    + address 

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": null
            }

### Cancel withdrawal [POST /v1/account/{coin}/withdraw/cancel]

+ Parameters 
    + coin:KCS 
    
+ Attributes
    + txOid 

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": null
            }

### List deposit & withdrawal records [GET /v1/account/{coin}/wallet/records]

+ Parameters 
    + coin 
    
+ Attributes
    + type(enum,required) - DEPOSIT,WITHDRAW 
    + status(enum,required) - FINISHED,CANCEL,PENDING 
    + limit(number) 
    + page(number) 

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": {
                    "datas": [
                        {
                            "fee": 1,  
                            "oid": "5960957d07015669deca1254",
                            "type": "DEPOSIT",
                            "amount": 209,
                            "remark": "",
                            "status": "CANCEL",
                            "address": "aag", 
                            "context": "",
                            "userOid": "TEST",
                            "coinType": "BTC",
                            "createdAt": 1499501950000,
                            "deletedAt": null,
                            "updatedAt": 1499502103000,
                            "outerWalletTxid": null 
                        }
                    ],
                    "total": 7, 
                    "limit": 2,  
                    "pageNos": 4, 
                    "currPageNo": 1, 
                    "navigatePageNos": [
                        1,
                        2,
                        3,
                        4
                    ],
                    "coinType": "BTC", 
                    "type": null,  
                    "userOid": "TEST", 
                    "status": null, 
                    "firstPage": true, 
                    "lastPage": false, 
                    "startRow": 0
                }
            }



### Get balance of coin [GET /v1/account/{coin}/balance]

+ Parameters 
    + coin:KCS 
    
+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": {
                  coinType: "BTC",
                  balance: 1233214,  
                  freezeBalance: 321321 
                }
            }


### Get balance by page [GET /v1/account/balances]

+ Attributes
    + limit(number) - page limit，default 12，max 20
    + page(number) - page number，default 1

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": [{
                  coinType: "BTC",
                  balance: 1233214,  
                  freezeBalance: 321321 
                }]
            }

## Trading [/11]

### Create an order [POST /v1/order{?symbol}]

+ Parameters
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC

+ Attributes 
    + type(enum,required) - BUY,SELL
    + price(number,required): The precision varies. Please fetch the precision of each coin from "List coins" Or "Coin Info"
    + amount(number,required)  : The precision varies. Please fetch the precision of each coin from "List coins" Or "Coin Info"

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "data": {
                    "orderOid": "596186ad07015679730ffa02" 
                }
            }

### List active orders [GET /v1/order/active{?symbol}]

+ Attributes 
    + symbol(enum,required) - Trading symbol e.g. KCS-BTC
    + type (enum) - 
      - BUY
      - SELL

+ Response 200 (application/json)
    + Body

            {
                "_comment": "arr[0] Time  arr[1] Order Type arr[2] Price arr[3] Amount arr[4]   Deal Amount arr[5] OrderOid",
                "success": true,
                "code": "OK",
                "data": {
                    "SELL": [],
                    "BUY": [
                        [
                            1499563694000,
                            "BUY",
                            38,
                            5,
                            0,
                            "596186ad07015679730ffa02"
                        ],
                        [
                            1499563686000,
                            "BUY",
                            35,
                            5,
                            0,
                            "596186a007015679730ffa01"
                        ],
                        [
                            1499563699000,
                            "BUY",
                            22,
                            5,
                            0,
                            "596186b207015679730ffa03"
                        ]
                    ]
                }
            }

### List active orders in kv format [GET /v1/order/active-map{?symbol}]

+ Attributes    
    + symbol(enum,required) - Trading symbol e.g. KCS-BTC
    + type (enum)
      - BUY
      - SELL
    
+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "timestamp": 1508306965706,
                "data": {
                    "SELL": [
                        {
                            "oid": "59e59b279bd8d31d093d956e",
                            "type":"SELL",
                            "userOid": null,
                            "coinType": "KCS",
                            "coinTypePair": "BTC",
                            "direction": "SELL",
                            "price": 0.1,
                            "dealAmount": 0,
                            "pendingAmount": 100,
                            "createdAt": 1508219688000,
                            "updatedAt": 1508219688000
                        }
                    ],
                    "BUY": [
                        {
                            "oid": "59e42bf09bd8d374c9956caa",
                            "type":"BUY",
                            "userOid": null,
                            "coinType": "KCS",
                            "coinTypePair": "BTC",
                            "direction": "BUY",
                            "price": 0.00009727,
                            "dealAmount": 31.14503,
                            "pendingAmount": 16.94827,
                            "createdAt": 1508125681000,
                            "updatedAt": 1508125681000
                        }
                    ]
                }
            }

### Cancel orders [POST /v1/cancel-order{?symbol}]

+ Parameters
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC

+ Attributes 
    + orderOid(required) - Order OID    
    + type(enum,required) - BUY,SELL
    
+ Response 200 (application/json)
    + Body

             {
                "success": true,
                "code": "OK",
                "data": null
            }

### Cancel all orders [POST /v1/order/cancel-all{?symbol}]

+ Parameters
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    
+ Attributes   
    + type(enum) - BUY,SELL
    
+ Response 200 (application/json)
 > Note: Some transactions failed to cancel, success will return true and code will return SYSTEM_ERROR

    + Body

             {
                "success": true,
                "code": "OK",
                "data": null
            }

### List dealt orders(merged) [GET /v1/order/dealt{?symbol}]

+ Attributes
    + symbol(enum) - Trading symbol e.g. KCS-BTC
    + type(enum) - BUY,SELL 
    + limit(number) - when symbol is empty, then page * limit Can not exceed 100; and when symbol is not empty, then limit Can not exceed 20
    + page(number) 
    + since(number) - timestamp
    + before(number) - timestamp

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "timestamp": 1508306200007,
                "data": {
                    "total": 1416,
                    "datas": [
                        {
                            "createdAt": 1508219588000,
                            "amount": 92.79323381,
                            "dealValue": 0.00927932,
                            "dealPrice": 0.0001,
                            "fee": 0.00000001,
                            "feeRate": 0,
                            "oid": "59e59ac49bd8d31d09f85fa8",
                            "orderOid": "59e59ac39bd8d31d093d956a",
                            "coinType": "KCS",
                            "coinTypePair": "BTC",
                            "direction": "BUY",
                            "dealDirection": "BUY"
                        },
                        {
                            "createdAt": 1508219588000,
                            "amount": 92.79323381,
                            "dealValue": 0.00927932,
                            "dealPrice": 0.0001,
                            "fee": 0.00000001,
                            "feeRate": 0,
                            "oid": "59e59ac49bd8d31d09f85fa7",
                            "orderOid": "59e41c949bd8d374c9956c74",
                            "coinType": "KCS",
                            "coinTypePair": "BTC",
                            "direction": "SELL",
                            "dealDirection": "BUY"
                        }
                    ],
                    "limit": 2,
                    "page": 1
                }
            }

### List dealt orders(specific symbol) [GET /v1/deal-orders{?symbol}]

+ Attributes
    + symbol(enum,required) - Trading symbol e.g. KCS-BTC
    + type(enum,optional): BUY,SELL 
    + limit(number) 
    + page(number)

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": {
                "datas": [
                  {
                    "oid": "59c47e7904dd275c7696ed15",
                    "dealPrice": 5040,
                    "orderOid": "59c47e7804dd275cd15773fc",
                    "direction": "BUY",
                    "amount": 100000000,
                    "dealValue": 5040,
                    "createdAt": 1506049657000
                  },
                  {
                    "oid": "59c3979104dd275c7696ec4d",
                    "dealPrice": 6510,
                    "orderOid": "59c3913d04dd275c76f2a10c",
                    "direction": "SELL",
                    "amount": 100000000,
                    "dealValue": 6510,
                    "createdAt": 1505990545000
                  }
                ],
                "total": 51,
                "limit": 12,
                "pageNos": 5,
                "currPageNo": 1,
                "navigatePageNos": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "userOid": "59bc96b89346432ce9cb7a8e",
                "direction": null,
                "startRow": 0,
                "firstPage": true,
                "lastPage": false
              }
            }

### Order details [GET /v1/order/detail{?symbol}]
    
+ Attributes
    + symbol(enum,required) - Trading symbol e.g. KCS-BTC
    + type (enum,required) - 
      - BUY
      - SELL
    + limit: 20 (number) - page limit of trading list
    + page: 1 (number) - page number of trading list
    + orderOid (required) - Order OID 

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "timestamp": 1508308350807,
                "data": {
                    "coinType": "KCS",
                    "dealValueTotal": 0.00938022,
                    "dealPriceAverage": 0.0001009,
                    "feeTotal": 2e-8,
                    "userOid": "5969ddc96732d54312eb960e",
                    "dealAmount": 0,
                    "dealOrders": {
                        "total": 709,
                        "firstPage": true,
                        "lastPage": false,
                        "datas": [
                            {
                                "amount": 1,
                                "dealValue": 0.0001009,
                                "fee": 1e-8,
                                "dealPrice": 0.0001009,
                                "feeRate": 0
                            },
                            {
                                "amount": 92.79323381,
                                "dealValue": 0.00927932,
                                "fee": 1e-8,
                                "dealPrice": 0.0001,
                                "feeRate": 0
                            }
                        ],
                        "currPageNo": 1,
                        "limit": 2,
                        "pageNos": 355
                    },
                    "coinTypePair": "BTC",
                    "orderPrice": 0.0001067,
                    "type": "SELL",
                    "orderOid": "59e41cd69bd8d374c9956c75",
                    "pendingAmount": 187.34
                }
            }

## Market [/14]      
 
### Tick(Open) [GET /v1/open/tick{?symbol}]

+ Attributes
    + symbol(enum) - Trading symbol e.g. KCS-BTC. If not specified then you will get data of all symbols.
    
+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
              {"coinType":"BTC","trading":true,"symbol":"BTC-USDT","lastDealPrice":10401.31,"buy":10401.31,"sell":10517.0,"change":11.089732,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":2364695.29606278,"high":10849.999999,"datetime":1519019062000,"vol":225.78896699,"low":9999.0,"changeRate":0.0011},{"coinType":"ETH","trading":true,"symbol":"ETH-BTC","lastDealPrice":0.08840404,"buy":0.08840404,"sell":0.0884049,"change":0.00080404,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":340.82054362,"high":0.089597,"datetime":1519019062000,"vol":3875.38792,"low":0.086022,"changeRate":0.0092},{"coinType":"ETH","trading":true,"symbol":"ETH-USDT","lastDealPrice":923.0,"buy":917.0001,"sell":924.7305,"change":6.761531,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":1170121.19384971,"high":947.777777,"datetime":1519019062000,"vol":1267.582835,"low":892.137139,"changeRate":0.0074},{"coinType":"BCH","trading":true,"symbol":"BCH-USDT","lastDealPrice":1467.889034,"buy":1454.833493,"sell":1509.6666,"change":80.988951,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":19260.67975111,"high":1550.0,"datetime":1519019062000,"vol":13.17580238,"low":1320.000095,"changeRate":0.0584},{"coinType":"GAS","trading":true,"symbol":"GAS-NEO","lastDealPrice":0.359998,"buy":0.356201,"sell":0.359998,"change":-0.000113,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":1770.0859315,"high":0.389899,"datetime":1519019062000,"vol":4778.1015,"low":0.347992,"changeRate":-0.00030},{"coinType":"NEO","trading":true,"symbol":"NEO-KCS","lastDealPrice":23.62,"buy":23.62,"sell":23.7448,"change":0.62,"coinTypePair":"KCS","sort":0,"feeRate":0.001,"volValue":18606.19757667,"high":23.7497,"datetime":1519019062000,"vol":799.189727,"low":22.1627,"changeRate":0.027},{"coinType":"NEO","trading":true,"symbol":"NEO-USDT","lastDealPrice":127.38452,"buy":127.252146,"sell":128.785944,"change":2.932688,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":429800.04814816,"high":130.49,"datetime":1519019062000,"vol":3409.765282,"low":120.57213,"changeRate":0.0236},{"coinType":"NEO","trading":true,"symbol":"NEO-BTC","lastDealPrice":0.01215046,"buy":0.01215058,"sell":0.01222964,"change":0.00013046,"coinTypePair":"BTC","sort":9,"feeRate":0.001,"volValue":152.29806675,"high":0.01232018,"datetime":1519019062000,"vol":12649.140942,"low":0.01180115,"changeRate":0.0109},{"coinType":"NEO","trading":true,"symbol":"NEO-ETH","lastDealPrice":0.138539,"buy":0.137647,"sell":0.13854,"change":0.000747,"coinTypePair":"ETH","sort":9,"feeRate":0.001,"volValue":1051.11497752,"high":0.140395,"datetime":1519019062000,"vol":7682.226975,"low":0.135,"changeRate":0.0054},{"coinType":"OCN","trading":true,"symbol":"OCN-BTC","lastDealPrice":0.00000195,"buy":0.00000195,"sell":0.0000020,"change":5.0E-8,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":37.68110926,"high":0.00000206,"datetime":1519019062000,"vol":19630823.59,"low":0.00000185,"changeRate":0.0263},{"coinType":"OCN","trading":true,"symbol":"OCN-ETH","lastDealPrice":0.000023,"buy":0.000022,"sell":0.000023,"change":0.0000010,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":502.3784832,"high":0.000024,"datetime":1519019062000,"vol":22640719.86,"low":0.000020,"changeRate":0.0455},{"coinType":"OCN","trading":true,"symbol":"OCN-USDT","lastDealPrice":0.021655,"buy":0.02041,"sell":0.021657,"change":0.001056,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":25142.99003543,"high":0.022091,"datetime":1519019062000,"vol":1243927.96,"low":0.018701,"changeRate":0.0513},{"coinType":"FOTA","trading":true,"symbol":"FOTA-BCH","lastDealPrice":0.00007499,"buy":0.00006053,"sell":0.00007399,"change":-0.00000334,"coinTypePair":"BCH","sort":0,"feeRate":0.001,"volValue":0.59696361,"high":0.00007834,"datetime":1519019062000,"vol":7682.8413,"low":0.000073,"changeRate":-0.0426},{"coinType":"FOTA","trading":true,"symbol":"FOTA-BTC","lastDealPrice":0.00001024,"buy":0.00001016,"sell":0.00001024,"change":1.0E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":126.34678695,"high":0.00001103,"datetime":1519019062000,"vol":11947151.9524,"low":0.000010,"changeRate":0.0099},{"coinType":"FOTA","trading":true,"symbol":"FOTA-ETH","lastDealPrice":0.000115,"buy":0.000115,"sell":0.000117,"change":-0.0000010,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":124.32941604,"high":0.000124,"datetime":1519019062000,"vol":1060177.4991,"low":0.00011,"changeRate":-0.0086},{"coinType":"FOTA","trading":true,"symbol":"FOTA-NEO","lastDealPrice":0.000831,"buy":0.000831,"sell":0.000874,"change":-0.000018,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":110.33827191,"high":0.000927,"datetime":1519019062000,"vol":125146.7128,"low":0.000769,"changeRate":-0.0212},{"coinType":"FOTA","trading":true,"symbol":"FOTA-USDT","lastDealPrice":0.109091,"buy":0.102815,"sell":0.108286,"change":0.00236,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":16363.97085534,"high":0.114669,"datetime":1519019062000,"vol":151464.6493,"low":0.102501,"changeRate":0.0221},{"coinType":"ACAT","trading":true,"symbol":"ACAT-BTC","lastDealPrice":0.00000159,"buy":0.00000159,"sell":0.0000016,"change":3.0E-8,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":5.13089932,"high":0.0000017,"datetime":1519019062000,"vol":3239390.3433,"low":0.00000145,"changeRate":0.0192},{"coinType":"ACAT","trading":true,"symbol":"ACAT-ETH","lastDealPrice":0.000019,"buy":0.000018,"sell":0.000019,"change":0.0000020,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":161.83311342,"high":0.000019,"datetime":1519019062000,"vol":9028026.2122,"low":0.000017,"changeRate":0.1176},{"coinType":"ACAT","trading":true,"symbol":"ACAT-NEO","lastDealPrice":0.000132,"buy":0.000131,"sell":0.000132,"change":0.0000020,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":298.27595202,"high":0.000141,"datetime":1519019062000,"vol":2265409.0121,"low":0.000127,"changeRate":0.0154},{"coinType":"COV","trading":true,"symbol":"COV-BTC","lastDealPrice":0.00009746,"buy":0.00009746,"sell":0.00009845,"change":-0.0000017,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":6.89772022,"high":0.00010389,"datetime":1519019062000,"vol":71507.825,"low":0.00008784,"changeRate":-0.0171},{"coinType":"COV","trading":true,"symbol":"COV-ETH","lastDealPrice":0.001107,"buy":0.001106,"sell":0.001107,"change":-0.000028,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":59.55831226,"high":0.00118,"datetime":1519019062000,"vol":54682.9877,"low":0.001021,"changeRate":-0.0247},{"coinType":"MEE","trading":true,"symbol":"MEE-BTC","lastDealPrice":0.00000927,"buy":0.0000092,"sell":0.00000929,"change":3.0E-8,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":235.07124602,"high":0.00000989,"datetime":1519019060000,"vol":25614372.6338,"low":0.00000877,"changeRate":0.0032},{"coinType":"MEE","trading":true,"symbol":"MEE-ETH","lastDealPrice":0.000105,"buy":0.000103,"sell":0.000106,"change":-0.0000040,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":753.80298648,"high":0.000113,"datetime":1519019062000,"vol":7210499.2806,"low":0.00010,"changeRate":-0.0367},{"coinType":"ZPT","trading":true,"symbol":"ZPT-BTC","lastDealPrice":0.0000133,"buy":0.00001308,"sell":0.0000133,"change":0.0,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":27.55418599,"high":0.00001399,"datetime":1519019062000,"vol":2089258.2599,"low":0.0000122,"changeRate":0.0},{"coinType":"ZPT","trading":true,"symbol":"ZPT-ETH","lastDealPrice":0.000151,"buy":0.00015,"sell":0.000151,"change":0.0,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":888.11883008,"high":0.000157,"datetime":1519019062000,"vol":6166326.9513,"low":0.00014,"changeRate":0.0},{"coinType":"ZPT","trading":true,"symbol":"ZPT-NEO","lastDealPrice":0.001074,"buy":0.001074,"sell":0.001095,"change":-0.000014,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":299.52599674,"high":0.001148,"datetime":1519019062000,"vol":272402.0977,"low":0.00102,"changeRate":-0.0129},{"coinType":"BPT","trading":true,"symbol":"BPT-BTC","lastDealPrice":0.00005698,"buy":0.00005688,"sell":0.00005698,"change":0.00000402,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":71.12934372,"high":0.00005854,"datetime":1519019062000,"vol":1330557.4614,"low":0.0000445,"changeRate":0.0759},{"coinType":"BPT","trading":true,"symbol":"BPT-ETH","lastDealPrice":0.000648,"buy":0.000633,"sell":0.000648,"change":0.000058,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":1215.81516804,"high":0.000663,"datetime":1519019062000,"vol":2006128.0198,"low":0.000501,"changeRate":0.0983},{"coinType":"CAPP","trading":true,"symbol":"CAPP-BTC","lastDealPrice":0.000013,"buy":0.00001202,"sell":0.000013,"change":-7.9E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":7.99591938,"high":0.00001507,"datetime":1519019062000,"vol":601968.4982,"low":0.0000118,"changeRate":-0.0573},{"coinType":"CAPP","trading":true,"symbol":"CAPP-ETH","lastDealPrice":0.000144,"buy":0.000137,"sell":0.000144,"change":-0.000014,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":43.06970647,"high":0.000171,"datetime":1519019062000,"vol":282092.0339,"low":0.00013,"changeRate":-0.0886},{"coinType":"LOCI","trading":true,"symbol":"LOCI-BTC","lastDealPrice":0.00004149,"buy":0.00004149,"sell":0.00004195,"change":0.00000139,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":8.7895534,"high":0.00004816,"datetime":1519019062000,"vol":211025.5733,"low":0.0000389,"changeRate":0.0347},{"coinType":"LOCI","trading":true,"symbol":"LOCI-ETH","lastDealPrice":0.000474,"buy":0.000452,"sell":0.000475,"change":0.000022,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":82.07698036,"high":0.000549,"datetime":1519019062000,"vol":169642.4285,"low":0.000445,"changeRate":0.0487},{"coinType":"MWAT","trading":true,"symbol":"MWAT-BTC","lastDealPrice":0.0000055,"buy":0.00000548,"sell":0.0000055,"change":-3.9E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":4.23406131,"high":0.0000059,"datetime":1519019062000,"vol":751282.4474,"low":0.00000513,"changeRate":-0.0662},{"coinType":"MWAT","trading":true,"symbol":"MWAT-ETH","lastDealPrice":0.000063,"buy":0.000062,"sell":0.000063,"change":-0.0000010,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":281.21368661,"high":0.000066,"datetime":1519019062000,"vol":4419037.9708,"low":0.000060,"changeRate":-0.0156},{"coinType":"POLY","trading":true,"symbol":"POLY-BTC","lastDealPrice":0.00012855,"buy":0.00012892,"sell":0.00012992,"change":-0.00000525,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":239.70070624,"high":0.000134,"datetime":1519019062000,"vol":1989468.6088,"low":0.0001005,"changeRate":-0.0392},{"coinType":"POLY","trading":true,"symbol":"POLY-ETH","lastDealPrice":0.001489,"buy":0.00145,"sell":0.001489,"change":-0.000031,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":3749.11154636,"high":0.00153,"datetime":1519019062000,"vol":2720355.8804,"low":0.0011,"changeRate":-0.0204},{"coinType":"SPF","trading":true,"symbol":"SPF-BTC","lastDealPrice":0.00002709,"buy":0.00002527,"sell":0.00002709,"change":1.6E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":0.48073049,"high":0.00002716,"datetime":1519019062000,"vol":18483.8081,"low":0.00002351,"changeRate":0.0059},{"coinType":"SPF","trading":true,"symbol":"SPF-ETH","lastDealPrice":0.000307,"buy":0.000289,"sell":0.000307,"change":0.000016,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":4.08813311,"high":0.000309,"datetime":1519019062000,"vol":13499.3183,"low":0.000278,"changeRate":0.055},{"coinType":"TKY","trading":true,"symbol":"TKY-BTC","lastDealPrice":0.00000309,"buy":0.00000309,"sell":0.00000311,"change":-6.0E-8,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":54.18534767,"high":0.00000336,"datetime":1519019062000,"vol":17077310.4834,"low":0.00000301,"changeRate":-0.019},{"coinType":"TKY","trading":true,"symbol":"TKY-ETH","lastDealPrice":0.000034,"buy":0.000034,"sell":0.000035,"change":-0.0000030,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":1195.55184106,"high":0.000039,"datetime":1519019062000,"vol":33673353.8462,"low":0.000031,"changeRate":-0.0811},{"coinType":"TKY","trading":true,"symbol":"TKY-NEO","lastDealPrice":0.000247,"buy":0.000247,"sell":0.000256,"change":-0.000016,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":689.42460276,"high":0.000276,"datetime":1519019062000,"vol":2635960.4804,"low":0.000245,"changeRate":-0.0608},{"coinType":"TNC","trading":true,"symbol":"TNC-BTC","lastDealPrice":0.00001993,"buy":0.00001993,"sell":0.00002012,"change":-9.7E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":22.96897279,"high":0.000022,"datetime":1519019062000,"vol":1148303.2356,"low":0.000019,"changeRate":-0.0464},{"coinType":"TNC","trading":true,"symbol":"TNC-ETH","lastDealPrice":0.000223,"buy":0.000224,"sell":0.000227,"change":-0.0000060,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":268.08993027,"high":0.000234,"datetime":1519019062000,"vol":1191185.7578,"low":0.00021,"changeRate":-0.0262},{"coinType":"TNC","trading":true,"symbol":"TNC-NEO","lastDealPrice":0.001601,"buy":0.001627,"sell":0.001685,"change":-0.000048,"coinTypePair":"NEO","sort":0,"feeRate":0.001,"volValue":411.69760179,"high":0.001733,"datetime":1519019062000,"vol":252786.4501,"low":0.001561,"changeRate":-0.0291},{"coinType":"TNC","trading":true,"symbol":"TNC-USDT","lastDealPrice":0.206472,"buy":0.203418,"sell":0.206472,"change":-0.004001,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":38316.67648873,"high":0.221,"datetime":1519019062000,"vol":184533.4311,"low":0.2,"changeRate":-0.019},{"coinType":"XRB","trading":true,"symbol":"XRB-BTC","lastDealPrice":0.00084076,"buy":0.00084069,"sell":0.00084076,"change":0.00001276,"coinTypePair":"BTC","sort":0,"feeRate":0.001,"volValue":95.76145067,"high":0.000873,"datetime":1519019062000,"vol":114269.14229,"low":0.00082203,"changeRate":0.0154},{"coinType":"XRB","trading":true,"symbol":"XRB-ETH","lastDealPrice":0.009452,"buy":0.009447,"sell":0.009506,"change":0.000019,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":307.76293919,"high":0.0099,"datetime":1519019062000,"vol":32147.636021,"low":0.009322,"changeRate":0.002},{"coinType":"XRB","trading":true,"symbol":"XRB-USDT","lastDealPrice":8.600026,"buy":8.660034,"sell":8.899952,"change":0.000026,"coinTypePair":"USDT","sort":100,"feeRate":0.001,"volValue":253513.2881082,"high":9.379949,"datetime":1519019062000,"vol":29091.586683,"low":8.51,"changeRate":0.0},{"coinType":"AXP","trading":true,"symbol":"AXP-BTC","lastDealPrice":0.00000816,"buy":0.00000789,"sell":0.00000816,"change":7.9E-7,"coinTypePair":"BTC","sort":100,"feeRate":0.001,"volValue":8.94591942,"high":0.00000816,"datetime":1519019062000,"vol":1237676.479,"low":0.00000553,"changeRate":0.1072},{"coinType":"AXP","trading":true,"symbol":"AXP-ETH","lastDealPrice":0.000090,"buy":0.000089,"sell":0.000090,"change":0.0000050,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":926.87478619,"high":0.000095,"datetime":1519019062000,"vol":11106943.9757,"low":0.000061,"changeRate":0.0588}
             ]
            }

### Order books(Open) [GET /v1/open/orders{?symbol}]

+ Attributes 
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    + group(number):  e.g.   100,1000
    + limit(number)

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": {
                 "_comment": "arr[0]   Price arr[1]   Amount arr[2]   Volume",
                 "SELL": [
                    [20, 5, 100],
                    [19, 5, 95]
                  ],
                  "BUY": [
                    [18, 5, 90],
                    [17, 5, 85]
                  ]
                }
            }
 
 
### Buy Order Books(Open) [GET /v1/open/orders-buy{?symbol}]

+ Attributes 
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    + group(number):  e.g.   100,1000
    + limit(number)

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                    [18, 5, 90],
                    [17, 5, 85]
                ]
            }
 
### Sell Order Books(Open) [GET /v1/open/orders-sell{?symbol}]

+ Attributes 
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    + group(number):  e.g.   100,1000
    + limit(number)

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                    [18, 5, 90],
                    [17, 5, 85]
                ]
            }

### Recently deal orders(Open) [GET /v1/open/deal-orders{?symbol}]

+ Attributes 
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    + limit(number)
    + since(number):  Since Timestamp e.g. 1506050394000
    
+ Response 200 (application/json)
    + Body

            {
              "_comment": "arr[0]   Timestamp arr[1]   Order Type arr[2]   Price arr[3]   Amount arr[4]   Volume",
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                [
                  1506037604000,
                  "SELL",
                  5210,
                  48600633397,
                  2532093
                ],
                [
                  1506037604000,
                  "SELL",
                  5800,
                  10227827586,
                  593214
                ]
              ]
            }

### List trading markets(Open) [GET /v1/open/markets]

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "timestamp": 1509939797091,
              "data": [
                "BTC",
                "ETH",
                "NEO",
                "USDT"
              ]
            }

### List trading symbols tick (Open) [GET /v1/market/open/symbols]

  > Note: Use /v1/{symbol}/open/tick to get the specified trend data.  
    Use /v1/market/symbols for login user to get more content.

+ Attributes 
    + market(enum,optional): BTC,ETH,USDT,NEO

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                {
                  "coinType": "KCS",
                  "trading": true,
                  "lastDealPrice": 4500,
                  "buy": 4120,
                  "sell": 4500,
                  "coinTypePair": "BTC",
                  "sort": 0,
                  "feeRate": 0.001,
                  "volValue": 324866889,
                  "high": 6890,
                  "datetime": 1506051488000,
                  "vol": 5363831663913,
                  "low": 4500,
                  "changeRate": -0.3431
                },
                {
                  "coinType": "KNC",
                  "trading": true,
                  "lastDealPrice": null,
                  "buy": 1000000,
                  "sell": null,
                  "coinTypePair": "BTC",
                  "sort": 1,
                  "feeRate": 0.001,
                  "volValue": 0,
                  "high": null,
                  "datetime": 1506051488000,
                  "vol": 0,
                  "low": null,
                  "changeRate": null
                }
              ]
            }      
            
            
### List trendings(Open) [GET /v1/market/open/coins-trending]

+ Attributes 
    + market(enum,optional): BTC,ETH,USDT,NEO

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                    {
                      "coinPair": "BTM-BTC",
                      "deals": [
                        [
                          1506049200000,
                          null
                        ],
                        [
                          1506045600000,
                          null
                        ],
                        [
                          1506042000000,
                          null
                        ],
                        [
                          1506038400000,
                          1260
                        ]
                      ]
                    }
                  ]
                }
              ]
            }      

### Get kline data(Open) [GET /v1/open/kline{?symbol}]
    
+ Attributes 
    + symbol(enum,required) - Trading symbol, e.g. KCS-BTC
    + type:1min,5min,15min,30min,1hour,8hour,1day,1week - candle unit
    + from(number) - From timestamp  e.g.: 1507479171
    + to(number) - To timestamp e.g.: 1507479171
    + limit - amount of result 
    
    
+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "_comment": "arr[0]: Timestamp   arr[1]: Open   arr[2]: High  arr[3]: Low  arr[4]: Close  arr[5]: Amount arr[6]: Volume",
              "data": [
                    {
                      "coinPair": "BTM-BTC",
                      "deals": [
                        [
                          1506049200000,
                          null
                        ],
                        [
                          1506045600000,
                          null
                        ],
                        [
                          1506042000000,
                          null
                        ],
                        [
                          1506038400000,
                          1260
                        ]
                      ]
                    }
                  ]
                }
              ]
            }      


### Get kline config(Open, TradingView Version) [GET /v1/open/chart/config]

+ Response 200 (application/json)

    + Body
    
            {
               "supports_marks":false,
               "supports_time":true,
               "supports_search":true,
               "supports_group_request":false,
               "supported_resolutions":[
                  "1",
                  "5",
                  "15",
                  "30",
                  "60",
                  "480",
                  "D",
                  "W"
               ]
            }

### Get symbol tick(Open, TradingView Version) [GET /v1/open/chart/symbols{?symbol}]

+ Attributes 
    + symbol - Trading symbol e.g., KCS-BTC (uppercase)
    
+ Response 200 (application/json)

    + Body
    
            {
               "ticker":"KCS-BTC",
               "minmov":1,
               "minmov2":0,
               "session":"24x7",
               "timezone":"Asia/Shanghai",
               "has_intraday":true,
               "description":"KCS-BTC",
               "supported_resolutions":[
                  "1",
                  "5",
                  "15",
                  "30",
                  "60",
                  "480",
                  "D",
                  "W"
               ],
               "type":"stock",
               "currency_code":"BTC",
               "exchange-listed":"",
               "volume_precision":8,
               "pointvalue":1,
               "name":"KCS-BTC",
               "exchange-traded":"",
               "pricescale":100000000,
               "has_no_volume":true
            }

### Get kline data(Open, TradingView Version) [GET /v1/open/chart/history]

+ Attributes 
    + symbol - Trading symbol e.g., KCS-BTC (uppercase)
    + resolution: 1,5,15,30,60,480,D,W
    + from(number) - From timestamp  e.g.: 1507479171
    + to(number) - To timestamp e.g.: 1507479171
    
    
+ Response 200 (application/json)
    + Body

            {
               "success": true,
               "code": "OK",
               "s":"ok",
               "c":[
                  0.00008999,
                  0.0001195,
                  0.00012488,
                  0.00009231,
                  0.00008483,
                  0.00009245,
                  0.00008964,
                  0.00006934,
                  0.0000836,
                  0.00009188
               ],
               "t":[
                  1507201200,
                  1507287600,
                  1507374000,
                  1507460400,
                  1507546800,
                  1507633200,
                  1507719600,
                  1507806000,
                  1507892400,
                  1507978800
               ],
               "v":[
                  677184.95840835,
                  1383918.84700098,
                  756304.77228774,
                  633909.71537665,
                  436374.60456221,
                  425808.74766085,
                  469397.21371071,
                  537288.87941776,
                  573752.12538949,
                  590450.62919965
               ],
               "h":[
                  0.000092,
                  0.0001214,
                  0.000125,
                  0.00012468,
                  0.000103,
                  0.0000932,
                  0.0001175,
                  0.00009056,
                  0.0000858,
                  0.00009368
               ],
               "l":[
                  0.0000671,
                  0.0000886,
                  0.00010998,
                  0.00008312,
                  0.00008315,
                  0.00008,
                  0.00008101,
                  0.000063,
                  0.000068,
                  0.0000792
               ],
               "o":[
                  0.0000671,
                  0.00009,
                  0.00011912,
                  0.00012462,
                  0.00009544,
                  0.00008381,
                  0.00009245,
                  0.00008846,
                  0.00006875,
                  0.00008349
               ]
            }   
 
### Get coin info(Open) [GET /v1/market/open/coin-info]

+ Attributes 
    + coin

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": 
                {
                  "withdrawMinFee": 100000,
                  "withdrawMinAmount": 200000,
                  "withdrawFeeRate": 0.001,
                  "confirmationCount": 12,
                  "name": "Bitcoin",
                  "tradePrecision": 7,
                  "coin": "BTC",
                  "infoUrl": null,
                  "enableWithdraw": true,
                  "enableDeposit": true,
                  "depositRemark": "",
                  "withdrawRemark": ""
                }
            }     
            
### List coins(Open) [GET /v1/market/open/coins]

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                {
                  "withdrawMinFee": 100000,
                  "withdrawMinAmount": 200000,
                  "withdrawFeeRate": 0.001,
                  "confirmationCount": 12,
                  "name": "Bitcoin",
                  "tradePrecision": 7,
                  "coin": "BTC",
                  "infoUrl": null,
                  "enableWithdraw": true,
                  "enableDeposit": true,
                  "depositRemark": "",
                  "withdrawRemark": ""
                }
              ]
            } 

## Market for user [/15]   

### List trading symbols tick [GET /v1/market/symbols]

+ Attributes
    + market (enum)
      + BTC
      + ETH
      + USDT
      + NEO
      + KCS
    + symbol (enum) - e.g. KCS-BTC
    + filter (enum)
      + FAVOURITE
      + STICK

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                {
                  "coinType": "KCS",
                  "trading": true,
                  "lastDealPrice": 4500,
                  "buy": 4120,
                  "sell": 4500,
                  "coinTypePair": "BTC",
                  "sort": 0,
                  "feeRate": 0.001,
                  "volValue": 324866889,
                  "high": 6890,
                  "datetime": 1506051488000,
                  "vol": 5363831663913,
                  "low": 4500,
                  "changeRate": -0.3431,
                  "change" : 123.12,
                  "stick": false,
                  "fav": false
                },
                {
                  "coinType": "KNC",
                  "trading": true,
                  "lastDealPrice": null,
                  "buy": 1000000,
                  "sell": null,
                  "coinTypePair": "BTC",
                  "sort": 1,
                  "feeRate": 0.001,
                  "volValue": 0,
                  "high": null,
                  "datetime": 1506051488000,
                  "vol": 0,
                  "low": null,
                  "changeRate": null,
                  "change: 0,
                  "stick": false,
                  "fav": false
                }
              ]
            }      
            
### Get stick symbols [GET /v1/market/stick-symbols]

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                "BTC-CNY"
               ]
                
            }     
          
### Get favourite symbols [GET /v1/market/fav-symbols]

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": [
                "BTC-CNY"
               ]
                
            }     
 
### Add/Delete favourite symbol  [POST /v1/market/symbol/fav]

+ Attributes
    + symbol - 如：KCS-BTC 
    + fav(number) - 0:delete 1:add
    
+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": null
            }


### Add/Delete stick symbol [POST /v1/market/symbol/stick]

+ Attributes 
    + symbol - 如：KCS-BTC 
    + stick(number) - 0:delete 1:add
    
+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "data": null
            }

## Invitation Bonus [/16]

### Get invitation count [GET /v1/referrer/descendant/count]

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": {
                  "count": 20, 
                  "countTwo": 40, 
                  "countThree": 60
              }
            }

### Get invitation bonus info [GET /v1/account/promotion/info]

+ Attributes 
    + coin - coin symbol

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "timestamp": 1507618731969,
                "data": {
                    "assignedCount": 0,
                    "drawingCount": 0,
                    "grantCountDownSeconds": 604800
                }
            }


### Get invitation bonus summary [GET /v1/account/promotion/sum]

+ Attributes 
    + coin - coin symbol

+ Response 200 (application/json)
    + Body

            {
                "success": true,
                "code": "OK",
                "msg": "Operation succeeded.",
                "timestamp": 1507533113876,
                "data": [
                    {
                        "oid": "59cf3449bc2ec0820158ea4d",
                        "coin": "BTC",
                        "amount": 0.05978693,
                        "count": 128,
                        "userOid": "59c3aa5cbc2ec035341689d8",
                        "lastGrantAt": 1507532458000,
                        "createdAt": 1506704761000,
                        "updatedAt": 1507532458000,
                        "undrawnAmount": 0.05978693,
                        "drawnAmount": 0
                    }
                ]
            }
            
### Extract invitation bonus [POST /v1/account/promotion/draw]

+ Attributes 
    + coin:KCS - 币种

+ Response 200 (application/json)
    + Body

            {
              "success": true,
              "code": "OK",
              "msg": "Operation succeeded.",
              "data": {
                    "count": 0 // The number of successful extracted
                } 
            }